.app-container {
  min-height: 100vh;
}

.profile-card-number {
  position: absolute;
  left: -3rem;
  font-size: 1.25rem;
  color: theme("colors.gray.400");
  font-style: italic;
  text-align: right;
  width: 30px;
}

.sort-select,
.sort-button {
  background-color: transparent;
  text-align: center;
  border-bottom: 1px solid theme("colors.emerald.500");
  padding: 0.5rem;
  line-height: 1.33;
  cursor: pointer;
  transition: all 0.2s ease;
}

.desc {
  display: inline-block;
  transform: rotate(90deg);
}

.asc {
  display: inline-block;
  transform: rotate(-90deg);
}

.sort-select:hover {
  border-color: theme("colors.emerald.300");
  background-color: theme("colors.gray.200");

  border-color: theme("colors.emerald.300");
  background-color: white;
}

.sort-button:hover {
  border-color: theme("colors.emerald.300");
  background-color: theme("colors.gray.200");
  background-color: white;
}
